In [59]:
import pandas as pd

In [60]:
filename = '/home/sokhorn/sokhorn/dataSet/groceries/order_products/order_products_prior.csv'
product_order_df = pd.read_csv(filename, encoding="utf8", sep=',', quotechar=" ", engine='python')
product_order_df

         order_id  product_id  add_to_cart_order  reordered
0               2       33120                  1          1
1               2       28985                  2          1
2               2        9327                  3          0
3               2       45918                  4          1
4               2       30035                  5          0
...           ...         ...                ...        ...
1048570    110719       26209                  1          0
1048571    110719       35140                  2          0
1048572    110720       28849                  1          1
1048573    110720       35594                  2          0
1048574    110720       16185                  3          1

[1048575 rows x 4 columns]

In [61]:
filename = '/home/sokhorn/sokhorn/dataSet/groceries/products/products.csv'
product_df = pd.read_csv(filename, encoding="utf8", sep=',', engine='python')
product_df

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [62]:
df = pd.merge(product_order_df,product_df, how='left', left_on='product_id',right_on='product_id')
df

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,2,28985,2,1,Michigan Organic Kale,83,4
2,2,9327,3,0,Garlic Powder,104,13
3,2,45918,4,1,Coconut Butter,19,13
4,2,30035,5,0,Natural Sweetener,17,13
...,...,...,...,...,...,...,...
1048570,110719,26209,1,0,Limes,24,4
1048571,110719,35140,2,0,Organic Whole Cashews,117,19
1048572,110720,28849,1,1,No Salt Added Black Beans,59,15
1048573,110720,35594,2,0,Organic Hemp Plus Granola Cereal,57,14
1048574,110720,16185,3,1,Sharp Cheddar Cheese,21,16

In [68]:
df = df.loc[:, ~df.columns.isin(['add_to_cart_order', 'aisle_id', 'department_id','reordered'])]
df = df.sample(frac=0.3)

In [69]:
item_sets = (
    df.groupby(['order_id', 'product_id', ])
    .count().unstack().reset_index().fillna(0)
    .set_index("order_id")
)
item_sets

In [ ]:
df['reordered'].unique()